@model Book

@{
    ViewData["Title"] = "Details";
}

<h2></h2>

<div class="thumbnail">
    <img alt="" src="@Model.PicturePath">
    <div class="caption-full">
        <h4 class="pull-right">Release Date: @Model.ReleaseDate.ToString("dd/MM/yyyy")</h4>
        <h3>@Model.Title</h3>
        <h4>
            <a asp-controller="Author" asp-action="Details"
               asp-route-id="@Model.Author.AuthorId">@Model.Author.Name @Model.Author.LastName</a>
        </h4>
        <p>@Model.Description</p>
        <h5>ISBN @Model.ISBN</h5>
    </div>
</div>

<div>
    @await Html.PartialAsync("_AdminButtonsPartial", new { id = Model.BookId, controller = "Book" })
</div>

