@model BookRatingViewModel

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.Book.PicturePath" alt="" width="200">
        <div class="caption">
            <h3>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Book.BookId">@Model.Book.Title</a>
            </h3>
            <p>
                <a asp-controller="Author" asp-action="Details"
                   asp-route-id="@Model.Book.Author.AuthorId">@Model.Book.Author.Name@Model.Book.Author.LastName</a>
            </p>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
            {
                <span id="@Model.Book.BookId" class="rating">
                    @for (int i = 1; i <= 5; i++)
                {
                    var starClass = "star";
                    if (Model.Rating == 6 - i)
                    {
                        starClass += " active";
                    }
                    <span id="myid" data-value="@(6 - i)" class="@starClass"></span>
                    }
                </span>
            }
            @await Html.PartialAsync("AdminBookButtons")
        </div>
    </div>
</div>