@model BookRatingViewModel

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.Book.PicturePath" alt="" width="200">
        <div class="caption">
            <h3>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Book.BookId">@Model.Book.Title</a>
            </h3>
            <p>
                <a asp-controller="Author" asp-action="Details"
                   asp-route-id="@Model.Book.Author.AuthorId">@Model.Book.Author.Name @Model.Book.Author.LastName</a>
                @await Html.PartialAsync("_UserStarsPartial")
            </p>
            
            @await Html.PartialAsync("_AdminButtonsPartial", new { id = Model.Book.BookId, controller = "Book" })
        </div>
    </div>
</div>